$_main_text_color: #242424;
$_secondary_text_color: #fff;
$_main_bg_color: #fff8e1;
$_bg_gradient: linear-gradient(180deg, #ffa726 0%, #ff8b35 55%, #ff7043 100%);
$_bg_orange_color: #f8744a;
$_bg_cherry_color: #ae345b;
$_box_shadow_on_gradient: inset 0 4px 12px 0 #b67a30;
$_box_shadow_on_cherry_gradient: inset 0 4px 12px 0 #901e43;
$_box_shadow_on_orange_gradient: inset 0 4px 12px 0 rgba(0, 0, 0, 0.25);

