<section class="advantages section" id="advantages">
  <div class="advan-box container">
    <h2 class="advan-title">Advantages</h2>
    <img
      class="advan-img"
      srcset="
        /img/advantages/advanteges@1x.png 1x,
        /img/advantages/advantages@2x.png 2x
      "
      src="/img/advantages/advanteges@1x.png"
      alt="Advantages"
    />
    <ul class="advan-list">
      <li class="advan-item">
        <div class="advan-icon-wrapper">
          <svg class="icon-advan">
            <use href="/img/sprite.svg#icon-clock"></use>
          </svg>
          <h3 class="advan-item-title">Fast-Paced Fun</h3>
        </div>
        <p class="avan-descr">
          A high-energy game that challenges your ability to multitask and
          manage time efficiently.
        </p>
      </li>
      <li class="advan-item">
        <div class="advan-icon-wrapper">
          <svg class="icon-advan">
            <use href="/img/sprite.svg#icon-recipe-book"></use>
          </svg>
          <h3 class="advan-item-title">Variety of Recipes</h3>
        </div>
        <p class="avan-descr">
          Unlock and cook a wide range of dishes from different cuisines, each
          with its unique challenges.
        </p>
      </li>
      <li class="advan-item">
        <div class="advan-icon-wrapper">
          <svg class="icon-advan">
            <use href="/img/sprite.svg#icon-productivity"></use>
          </svg>
          <h3 class="advan-item-title">Exciting Upgrades</h3>
        </div>
        <p class="avan-descr">
          Upgrade your kitchen tools and earn rewards to improve your cooking
          abilities.
        </p>
      </li>
      <li class="advan-item">
        <div class="advan-icon-wrapper">
          <svg class="icon-advan">
            <use href="/img/sprite.svg#icon-SparklesOutline"></use>
          </svg>
          <h3 class="advan-item-title">Creative Kitchens</h3>
        </div>
        <p class="avan-descr">
          Design and decorate your kitchen to reflect your personal style as you
          unlock new levels.
        </p>
      </li>
      <li class="advan-item">
        <div class="advan-icon-wrapper">
          <svg class="icon-advan">
            <use href="/img/sprite.svg#icon-wifi-slash"></use>
          </svg>
          <h3 class="advan-item-title">Offline Play</h3>
        </div>
        <p class="avan-descr">
          Enjoy the game anywhere, even without an internet connection!
        </p>
      </li>
    </ul>
  </div>
</section>
