<section class="dishes section" id="dishes">
  <div class="container-wrapper container">
    <div class="container-gallery-title">
      <h2 class="dishes-title">Featured Dishes</h2>
    </div>
    <!-- <div class=""> -->
    <div class="swiper swiper-one">
      <ul class="dishes-list swiper-wrapper">
        <li class="swiper-slide dishes-list-item">
          <img
            class="dishes-image"
            src="./img/dishes/dishes_one@1x.png"
            srcset="
              ./img/dishes/dishes_one@1x.png,
              ./img/dishes/dishes_one@2x.png
            "
            alt="Sushi Rolls"
            draggable="false"
          />
          <h3 class="dishes-title">Sushi Rolls</h3>
          <p class="dishes-desc">
            A combination of fresh fish, rice, and seaweed rolled to perfection.
            Prepare multiple types of sushi with precise timing to please your
            customers.
          </p>
        </li>
        <li class="swiper-slide dishes-list-item">
          <img
            class="dishes-image"
            src="./img/dishes/dishes_two@1x.png"
            srcset="
              ./img/dishes/dishes_two@1x.png,
              ./img/dishes/dishes_two@2x.png
            "
            alt="Tacos"
            draggable="false"
          />
          <h3 class="dishes-title">Tacos</h3>
          <p class="dishes-desc">
            Fill soft tortillas with seasoned meat, fresh vegetables, and salsa
            to make this popular Mexican dish a customer favorite.
          </p>
        </li>
        <li class="swiper-slide dishes-list-item">
          <img
            class="dishes-image"
            src="./img/dishes/dishes_three@1x.png"
            srcset="
              ./img/dishes/dishes_three@1x.png,
              ./img/dishes/dishes_three@2x.png
            "
            alt="Spaghetti Bolognese"
            draggable="false"
          />
          <h3 class="dishes-title">Spaghetti Bolognese</h3>
          <p class="dishes-desc">
            A classic Italian favorite with savory meat sauce, fresh pasta, and
            a sprinkle of cheese. Cook it to perfection for the best taste!
          </p>
        </li>
        <li class="swiper-slide dishes-list-item">
          <img
            class="dishes-image"
            src="./img/dishes/dishes_four@1x.png"
            srcset="
              ./img/dishes/dishes_four@1x.png,
              ./img/dishes/dishes_four@2x.png
            "
            alt="Cheeseburger and Fries"
            draggable="false"
          />
          <h3 class="dishes-title">Cheeseburger and Fries</h3>
          <p class="dishes-desc">
            A juicy burger with a side of crispy fries – a classic American
            comfort meal, served fresh and fast.
          </p>
        </li>
        <li class="swiper-slide dishes-list-item">
          <img
            class="dishes-image"
            src="./img/dishes/dishes_five@1x.png"
            srcset="
              ./img/dishes/dishes_five@1x.png,
              ./img/dishes/dishes_five@2x.png
            "
            alt="Cheeseburger and Fries"
            draggable="false"
          />
          <h3 class="dishes-title">Lobster Bisque</h3>
          <p class="dishes-desc">
            A rich and creamy seafood soup made with lobster, herbs, and
            delicate seasonings. A luxurious dish that requires careful
            attention and timing.
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
    <div class="arrow-container">
      <button
        class="button-prev button-prev-svg"
        type="button"
        aria-label="Previous"
      >
        <svg class="arrow-swiper" width="24" height="24">
          <use xlink:href="./img/sprite.svg#icon-arrow_left" />
        </svg>
      </button>

      <button
        class="button-next button-next-svg"
        type="button"
        aria-label="Next comment"
      >
        <svg class="arrow-swiper" width="24" height="24">
          <use xlink:href="./img/sprite.svg#icon-arrow_right" />
        </svg>
      </button>
    </div>

    <!-- </div> -->
  </div>
</section>
