<section class="gallery section" id="gallery">
  <div class="container-wrapper container">
    <div class="container-gallery-title">
      <h2 class="dishes-main-title">Gallery</h2>
    </div>
    <div class="swiper swiper-box" data-aos="fade-right">
      <ul class="gallery-list swiper-wrapper">
        <li class="swiper-slide gallery-list-item">
          <img
            class="gallery-image"
            src="./img/gallery/gallery_one@1x.png"
            srcset="
              ./img/gallery/gallery_one@1x.png            320w,
              ./img/gallery/gallery_one@2x.png            320w,
              ./img/gallery/desktop/gallery_one_d@1x.png 1200w,
              ./img/gallery/desktop/gallery_one_d@2x.png 1200w
            "
            alt="screenshot 1"
            draggable="false"
          />
        </li>
        <li class="swiper-slide gallery-list-item">
          <img
            class="gallery-image"
            src="./img/gallery/gallery_two@1x.png"
            srcset="
              ./img/gallery/gallery_two@1x.png            320w,
              ./img/gallery/gallery_two@2x.png            320w,
              ./img/gallery/desktop/gallery_two_d@1x.png 1200w,
              ./img/gallery/desktop/gallery_two_d@2x.png 1200w
            "
            alt="screenshot 2"
            draggable="false"
          />
        </li>
        <li class="swiper-slide gallery-list-item">
          <img
            class="gallery-image"
            src="./img/gallery/gallery_three@1x.png"
            srcset="
              ./img/gallery/gallery_three@1x.png            320w,
              ./img/gallery/gallery_three@2x.png            320w,
              ./img/gallery/desktop/gallery_three_d@1x.png 1200w,
              ./img/gallery/desktop/gallery_three_d@2x.png 1200w
            "
            alt="screenshot 3"
            draggable="false"
          />
        </li>
        <li class="swiper-slide gallery-list-item">
          <img
            class="gallery-image"
            src="./img/gallery/gallery_four@1x.png"
            srcset="
              ./img/gallery/gallery_four@1x.png            320w,
              ./img/gallery/gallery_four@2x.png            320w,
              ./img/gallery/desktop/gallery_four_d@1x.png 1200w,
              ./img/gallery/desktop/gallery_four_d@2x.png 1200w
            "
            alt="screenshot 4"
            draggable="false"
          />
        </li>
        <li class="swiper-slide gallery-list-item">
          <img
            class="gallery-image"
            src="./img/gallery/gallery_five@1x.png"
            srcset="
              ./img/gallery/gallery_five@1x.png            320w,
              ./img/gallery/gallery_five@2x.png            320w,
              ./img/gallery/desktop/gallery_five_d@1x.png 1200w,
              ./img/gallery/desktop/gallery_five_d@2x.png 1200w
            "
            alt="screenshot 5"
            draggable="false"
          />
        </li>
        <li class="swiper-slide gallery-list-item">
          <img
            class="gallery-image"
            src="./img/gallery/gallery_six@1x.png"
            srcset="
              ./img/gallery/gallery_six@1x.png            320w,
              ./img/gallery/gallery_six@2x.png            320w,
              ./img/gallery/desktop/gallery_six_d@1x.png 1200w,
              ./img/gallery/desktop/gallery_six_d@2x.png 1200w
            "
            alt="screenshot 6"
            draggable="false"
          />
        </li>
      </ul>
    </div>

    <div class="arrow-container">
      <button class="button-pre" type="button" aria-label="Next comment">
        <svg class="arrow-swiper">
          <use xlink:href="./img/sprite.svg#icon-arrow_left" />
        </svg>
      </button>
      <button class="button-nex" type="button" aria-label="Previous comment">
        <svg class="arrow-swiper">
          <use xlink:href="./img/sprite.svg#icon-arrow_right" />
        </svg>
      </button>
    </div>
  </div>
</section>
