<header class="header section">
  <div class="header-box container">
    <a href="../index.html"
      ><img
        width="52px"
        height="52px"
        class="logo"
        srcset="/img/logo/Logo@1x.png 1x, /img/logo/Logo@2x.png 2x"
        src="/img/logo/Logo.svg"
        alt="logo"
    /></a>
    <button class="btn-burger btn-burger-close">
      <div class="burger-menu" id="burgerMenu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </button>
    <div class="modal-overlay">
      <div class="modal-content">
        <ul class="menu-list-modal">
          <li><a class="menu-item-modal" href="#home">Home</a></li>
          <li><a class="menu-item-modal" href="#play">How to Play</a></li>
          <li><a class="menu-item-modal" href="#about">About us</a></li>
          <li><a class="menu-item-modal" href="#advantages">Advantages</a></li>
          <li><a class="menu-item-modal" href="#gallery">Gallery</a></li>
          <li><a class="menu-item-modal" href="#dishes">Featured Dishes</a></li>
        </ul>
      </div>
    </div>
    <nav class="menu" id="menu">
      <ul class="menu-list">
        <li class="menu-item"><a href="#home">Home</a></li>
        <li class="menu-item"><a href="#play">How to Play</a></li>
        <li class="menu-item"><a href="#about">About us</a></li>
        <li class="menu-item"><a href="#advantages">Advantages</a></li>
        <li class="menu-item"><a href="#gallery">Gallery</a></li>
        <li class="menu-item"><a href="#dishes">Featured Dishes</a></li>
      </ul>
    </nav>
  </div>
</header>
