<section class="hero section" id="home">
  <div class="hero-box container">
    <div class="img-box">
      <img
        class="img"
        srcset="/img/hero/hero@1x.png 1x, /img/hero/hero@2x.png 2x"
        src="/img/hero/hero@1x.png"
        alt="Game image"
      />
    </div>
    <div class="hero-wrapper">
      <h2 class="title">Cooking Storm</h2>
      <p class="descr">
        Join the culinary adventure and master the art of cooking under
        pressure!
      </p>
      <a
        class="google-link"
        href="https://play.google.com/store/apps/details?id=com.gamestown.cooking.games"
      >
        <svg class="icon-google" width="32px" height="32px">
          <use href="/img/sprite.svg#icon-google-play-icon"></use>
        </svg>
        <p class="descr-link">Download on Google Play</p></a
      >
    </div>
  </div>
</section>
