<section class="play section" id="play">
  <div class="play-box container">
    <h2 class="title-play">How to Play</h2>
    <ul class="play-list">
      <li class="play-item" data-aos="fade-right">
        <div class="wrapper-play">
          <svg class="icon-number">
            <use href="/img/sprite-second.svg#icon-number-1"></use>
          </svg>
          <h3 class="title-item">Cook and Serve</h3>
        </div>
        <p class="descr-play">
          Prepare a wide range of dishes using the ingredients available to you
          and serve them to customers.
        </p>
      </li>
      <li class="play-item color" data-aos="fade-left">
        <div class="wrapper-play">
          <svg class="icon-number">
            <use href="/img/sprite-second.svg#icon-number-2"></use>
          </svg>
          <h3 class="title-item">Upgrade Your Kitchen</h3>
        </div>
        <p class="descr-play">
          Improve your kitchen appliances, unlock new recipes, and enhance your
          cooking abilities.
        </p>
      </li>
      <li class="play-item" data-aos="fade-right">
        <div class="wrapper-play">
          <svg class="icon-number" width="24px" height="24px">
            <use href="/img/sprite-second.svg#icon-number-3"></use>
          </svg>
          <h3 class="title-item">Complete Orders</h3>
        </div>
        <p class="descr-play">
          Serve customers quickly and accurately to earn rewards and advance to
          new levels.
        </p>
      </li>
      <li class="play-item color" data-aos="fade-left">
        <div class="wrapper-play">
          <svg class="icon-number" width="24px" height="24px">
            <use href="/img/sprite-second.svg#icon-number-4"></use>
          </svg>
          <h3 class="title-item">Challenge Yourself</h3>
        </div>
        <p class="descr-play">
          Face increasingly difficult challenges as you rise through the ranks,
          unlocking new restaurants and cuisines.
        </p>
      </li>
      <li class="play-item color-desctop" data-aos="fade-right">
        <div class="wrapper-play">
          <svg class="icon-number" width="24px" height="24px">
            <use href="/img/sprite-second.svg#icon-number-5"></use>
          </svg>
          <h3 class="title-item">Time Management</h3>
        </div>
        <p class="descr-play">
          Strategize your cooking process to handle multiple orders and avoid
          mistakes in a fast-paced kitchen environment.
        </p>
      </li>
    </ul>
  </div>
</section>
