<section class="reviews section">
  <div class="reviews-box container">
    <h2 class="reviews-title">User Reviews</h2>

    <div class="swiper swiper-reviews" data-aos="fade-right">
      <ul class="reviews-list swiper-wrapper">
        <li class="reviews-item swiper-slide">
          <img
            class="reviews-img"
            srcset="
              /img/reviews/first_review.png    1x,
              /img/reviews/first_review@2x.png 2x
            "
            src="/img/reviews/first_review.png"
            alt="Reviews"
          />
          <div class="reviews-name-wrapper">
            <svg class="reviews-svg">
              <use href="/img/sprite-second.svg#icon-ri_double-quotes-l" />
            </svg>

            <h3 class="reviews-name">ChefMaster</h3>
          </div>
          <p class="reviews-text">
            Cooking Storm is a blast! I love the variety of dishes and the time
            management challenges.
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <img
            class="reviews-img"
            srcset="
              /img/reviews/second_review@1x.png 1x,
              /img/reviews/second_review@2x.png 2x
            "
            src="/img/reviews/second_review@1x.png"
            alt="Reviews"
          />
          <div class="reviews-name-wrapper">
            <svg class="reviews-svg">
              <use href="/img/sprite-second.svg#icon-ri_double-quotes-l" />
            </svg>
            <h3 class="reviews-name">DailyCook</h3>
          </div>
          <p class="reviews-text">
            Perfect for anyone who loves cooking games. The graphics and
            gameplay are top-notch!
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <img
            class="reviews-img"
            srcset="
              /img/reviews/third_review@1x.png 1x,
              /img/reviews/third_review@2x.png 2x
            "
            src="/img/reviews/third_review@1x.png"
            alt="Reviews"
          />
          <div class="reviews-name-wrapper">
            <svg class="reviews-svg">
              <use href="/img/sprite-second.svg#icon-ri_double-quotes-l" />
            </svg>
            <h3 class="reviews-name">RecipeLover</h3>
          </div>
          <p class="reviews-text">
            I enjoy learning new recipes and managing my kitchen as I progress
            through levels.
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <img
            class="reviews-img"
            srcset="
              /img/reviews/fourth_review@1x.png 1x,
              /img/reviews/fourth_review@2x.png 2x
            "
            src="/img/reviews/fourth_review@1x.png"
            alt="Reviews"
          />
          <div class="reviews-name-wrapper">
            <svg class="reviews-svg">
              <use href="/img/sprite-second.svg#icon-ri_double-quotes-l" />
            </svg>
            <h3 class="reviews-name">KitchenKing</h3>
          </div>
          <p class="reviews-text">
            This game keeps me on my toes! I can’t get enough of the cooking and
            serving gameplay.
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <img
            class="reviews-img"
            srcset="
              /img/reviews/second_review@1x.png 1x,
              /img/reviews/second_review@2x.png 2x
            "
            src="/img/reviews/second_review@1x.png"
            alt="Reviews"
          />
          <div class="reviews-name-wrapper">
            <svg class="reviews-svg">
              <use href="/img/sprite-second.svg#icon-ri_double-quotes-l" />
            </svg>
            <h3 class="reviews-name">CookingFanatic</h3>
          </div>
          <p class="reviews-text">
            Fast-paced and so much fun! The upgrades and challenges are really
            addictive.
          </p>
        </li>
      </ul>
    </div>
    <div class="reviews-arrow">
      <button class="button-prev-review" type="button" aria-label="Next">
        <svg class="arrow-swiper">
          <use href="/img/sprite.svg#icon-arrow_left" />
        </svg>
      </button>
      <button class="button-next-review" type="button" aria-label="Previous">
        <svg class="arrow-swiper">
          <use href="/img/sprite.svg#icon-arrow_right" />
        </svg>
      </button>
    </div>
  </div>
</section>
