@import 'swiper/swiper-bundle.css';
.dishes-list {
  li:nth-child(1),
  li:nth-child(3),
  li:nth-child(5) {
    background-color: $_bg_cherry_color;
    color: $_secondary_text_color;
    border-radius: 20px;
  }

  li:nth-child(2),
  li:nth-child(4) {
    background-color: $_bg_orange_color;
    color: $_main_text_color;
    border-radius: 20px;
  }
}
.dishes-list-item {
  width: 288px;
  height: 314px;
  padding: 16px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.dishes-title {
  font-weight: 600;
  font-size: 16px;
}

.dishes-desc {
  font-size: 15px;
  text-align: center;
}
