.footer {
  background-image: $_bg_gradient;
  border-radius: 50px 50px 0 0;
  box-shadow: $_box_shadow_on_gradient;
  padding: 24px 0;
  height: 190px;

  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: underline;
  font-size: 14px;
  gap: 16px;
}

.footer-desc {
  font-size: 12px;
}

@include media(desktop) {
  .footer {
    width: 1200px;

    margin-top: 50px;
  }

  .footer-list {
    align-items: flex-start;
    padding-right: 114px;
    font-size: 16px;
  }

  .footer-list-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .footer-desc {
    font-size: 16px;
  }
}
