@import 'modern-normalize';
@import './header.scss';
@import './about.scss';
@import './advantages.scss';
@import './dishes.scss';
@import './footer.scss';
@import './reviews.scss';
@import './play.scss';
@import './hero.scss';
@import './gallery.scss';
@import './pages.scss';
@import './fonts.scss';

:root {
  font-family: 'Poppins', 'Fredoka One', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #000;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
